* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

span {
    text-decoration: underline;
}

.top-container {
    background-color: #CFF5E7;
    padding-top: 175px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 275px;
    bottom: 300px;
}

.pfp {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}

.profile-desc {
    width: 33%;
    margin: 40px auto 0px auto;
    line-height: 2;
    font-size: 1.25rem;
    color: #40514E;
}

hr {
    border: dotted #929c9c 6px;
    border-bottom: none;
    width: 4%;
    margin: 80px auto 80px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
    line-height: 2;
}

.codebox {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.imac {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.webdev-assign {
    margin: 30px auto 60px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    height: 80px;
    background-color: #66BFBF;
    margin-top: 80px;
    padding-top: 60px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-link:hover {
    font-size: 1.75rem;
    color: #EAF6F6;
}

.copyright {
    font-size: 0.75rem;
    color: #EAF6F6;
    padding: 18px 0px;
}

span:hover {
    text-decoration: wavy;
}